@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-8">
        <section>
            <form id="account" method="post">
                <h2>Use a local account to log in.</h2>
                <hr />
                <div class="p-4 rounded border border-info">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="Input.Email"></label>
                    </div>
                    <div class="col-6">
                        <input id="User-Name" asp-for="Input.Email" class="form-control" aria-required="true" required />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="Input.Password"></label>
                    </div>
                    <div class="col-6">
                        <input id="PasswordHash" asp-for="Input.Password" class="form-control" type="password" aria-required="true" required />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                </div>
                <div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-30 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
