@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-8">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div class="p-4 rounded border border-info">
                <div asp-validation-summary="ModelOnly" class="text-danger">
                </div>
                <h3 class="text-success">@ViewBag.message</h3>
                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="Input.FirstName"></label>
                    </div>
                    <div class="col-6">
                        <input asp-for="Input.FirstName" class="form-control" />
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="Input.LastName"></label>
                    </div>
                    <div class="col-6">
                        <input asp-for="Input.LastName" class="form-control" />
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="Input.Email"></label>
                    </div>
                    <div class="col-6">
                        <input id="User-Name" asp-for="Input.Email" class="form-control" aria-required="true" required />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="Input.Password"></label>
                    </div>
                    <div class="col-6">
                        <input id="PasswordHash" asp-for="Input.Password" class="form-control" type="password" aria-required="true" required />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="Input.ConfirmPassword"></label>
                    </div>
                    <div class="col-6">
                        <input id="PasswordHash" asp-for="Input.ConfirmPassword" class="form-control" type="password" aria-required="true" required />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>

                </div>
                </div>
            <button id="registerSubmit" type="submit" class="w-30 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
