@using E_Commerce.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    List<Products> orders = HttpContextAccessor.HttpContext.Session.Get<List<Products>>("order");
    Products product = null;
    if (orders==null)
    {
        orders = new List<Products>();
    }
    decimal? offer = HttpContextAccessor.HttpContext.Session.GetInt32("offer");
    if (offer==null)
    {
        offer =0;
    }
     
}
@{
    ViewData["Title"] = "Receipt";
}


<h1>Receipt</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Items</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in orders)
        {
            <tr>
                @{
                    decimal total = item.Price * item.Quantity;
                }
                <td>@item.Name</td>
                <td>@item.Quantity</td>
                <td>$@item.Price</td>
                <td>$@total</td>
            </tr>
        }
        
        <tr>

            <td>Voucher</td>
            <td></td>
            <td></td>
            <td>-@offer.00</td>
        </tr>
        <tr>

            <td>Shipping Cost</td>
            <td></td>
            <td></td>
            <td>3.00</td>
        </tr>
        <tr>
            @{
                decimal? gTotal = @orders.Sum(c => c.Price * c.Quantity) - offer+3;
            }
            
            <td><strong>Grand Total:</strong></></td>
            <td></td>
            <td></td>
            <td><strong>$@gTotal</strong></td>
        </tr>
        
    </tbody>
</table>