@model int

<td style="width: 150px">
    <div class="btn-group">
        <a asp-action="Edit" asp-controller="Category" class="btn btn-primary" asp-route-id="@Model"><i class="fa fa-edit"></i></a>
        <a asp-action="Delete" asp-controller="Category" class="btn btn-success" asp-route-id="@Model"><i class="fa-sharp fa-solid fa-trash-can"></i></a>
    </div>
</td>
